<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>香港</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>香港仔</string>
			</dict>
			<dict>
				<key>name</key>
				<string>金鐘</string>
			</dict>
			<dict>
				<key>name</key>
				<string>鴨脷洲</string>
			</dict>
			<dict>
				<key>name</key>
				<string>銅鑼灣</string>
			</dict>
			<dict>
				<key>name</key>
				<string>中環</string>
			</dict>
			<dict>
				<key>name</key>
				<string>柴灣</string>
			</dict>
			<dict>
				<key>name</key>
				<string>舂坎角</string>
			</dict>
			<dict>
				<key>name</key>
				<string>深水灣</string>
			</dict>
			<dict>
				<key>name</key>
				<string>跑馬地</string>
			</dict>
			<dict>
				<key>name</key>
				<string>堅尼地城</string>
			</dict>
			<dict>
				<key>name</key>
				<string>半山區</string>
			</dict>
			<dict>
				<key>name</key>
				<string>北角</string>
			</dict>
			<dict>
				<key>name</key>
				<string>薄扶林</string>
			</dict>
			<dict>
				<key>name</key>
				<string>鰂魚涌</string>
			</dict>
			<dict>
				<key>name</key>
				<string>淺水灣</string>
			</dict>
			<dict>
				<key>name</key>
				<string>西灣河</string>
			</dict>
			<dict>
				<key>name</key>
				<string>西營盤</string>
			</dict>
			<dict>
				<key>name</key>
				<string>筲箕灣</string>
			</dict>
			<dict>
				<key>name</key>
				<string>石澳</string>
			</dict>
			<dict>
				<key>name</key>
				<string>石塘咀</string>
			</dict>
			<dict>
				<key>name</key>
				<string>上環</string>
			</dict>
			<dict>
				<key>name</key>
				<string>赤柱</string>
			</dict>
			<dict>
				<key>name</key>
				<string>大潭</string>
			</dict>
			<dict>
				<key>name</key>
				<string>山頂</string>
			</dict>
			<dict>
				<key>name</key>
				<string>灣仔</string>
			</dict>
			<dict>
				<key>name</key>
				<string>黃竹坑</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>九龍</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>茶果嶺</string>
			</dict>
			<dict>
				<key>name</key>
				<string>長沙灣</string>
			</dict>
			<dict>
				<key>name</key>
				<string>鑽石山</string>
			</dict>
			<dict>
				<key>name</key>
				<string>何文田</string>
			</dict>
			<dict>
				<key>name</key>
				<string>紅磡</string>
			</dict>
			<dict>
				<key>name</key>
				<string>九龍灣</string>
			</dict>
			<dict>
				<key>name</key>
				<string>九龍城</string>
			</dict>
			<dict>
				<key>name</key>
				<string>九龍塘</string>
			</dict>
			<dict>
				<key>name</key>
				<string>觀塘</string>
			</dict>
			<dict>
				<key>name</key>
				<string>荔枝角</string>
			</dict>
			<dict>
				<key>name</key>
				<string>藍田</string>
			</dict>
			<dict>
				<key>name</key>
				<string>旺角</string>
			</dict>
			<dict>
				<key>name</key>
				<string>牛池灣</string>
			</dict>
			<dict>
				<key>name</key>
				<string>牛頭角</string>
			</dict>
			<dict>
				<key>name</key>
				<string>新蒲崗</string>
			</dict>
			<dict>
				<key>name</key>
				<string>秀茂坪</string>
			</dict>
			<dict>
				<key>name</key>
				<string>深水埗</string>
			</dict>
			<dict>
				<key>name</key>
				<string>石硤尾</string>
			</dict>
			<dict>
				<key>name</key>
				<string>大角咀</string>
			</dict>
			<dict>
				<key>name</key>
				<string>土瓜灣</string>
			</dict>
			<dict>
				<key>name</key>
				<string>尖沙咀</string>
			</dict>
			<dict>
				<key>name</key>
				<string>慈雲山</string>
			</dict>
			<dict>
				<key>name</key>
				<string>橫頭磡</string>
			</dict>
			<dict>
				<key>name</key>
				<string>黃大仙</string>
			</dict>
			<dict>
				<key>name</key>
				<string>油麻地</string>
			</dict>
			<dict>
				<key>name</key>
				<string>油塘</string>
			</dict>
			<dict>
				<key>name</key>
				<string>又一村</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>新界</string>
		<key>sub</key>
		<array>
            <dict>
                <key>name</key>
                <string>長洲</string>
            </dict>
            <dict>
                <key>name</key>
                <string>清水灣</string>
            </dict>
            <dict>
                <key>name</key>
                <string>吉澳</string>
            </dict>
            <dict>
                <key>name</key>
                <string>粉嶺</string>
            </dict>
            <dict>
                <key>name</key>
                <string>粉嶺軍地</string>
            </dict>
            <dict>
                <key>name</key>
                <string>塔門</string>
            </dict>
            <dict>
                <key>name</key>
                <string>喜靈洲</string>
            </dict>
            <dict>
                <key>name</key>
                <string>洪水橋</string>
            </dict>
            <dict>
                <key>name</key>
                <string>葵涌</string>
            </dict>
            <dict>
                <key>name</key>
                <string>古洞</string>
            </dict>
            <dict>
                <key>name</key>
                <string>南丫島</string>
            </dict>
            <dict>
                <key>name</key>
                <string>大嶼山</string>
            </dict>
            <dict>
                <key>name</key>
                <string>大嶼山赤鱲角</string>
            </dict>
            <dict>
                <key>name</key>
                <string>大嶼山長沙</string>
            </dict>
            <dict>
                <key>name</key>
                <string>大嶼山芝麻灣</string>
            </dict>
            <dict>
                <key>name</key>
                <string>大嶼山愉景灣</string>
            </dict>
            <dict>
                <key>name</key>
                <string>大嶼山梅窩</string>
            </dict>
            <dict>
                <key>name</key>
                <string>大嶼山昂坪</string>
            </dict>
            <dict>
                <key>name</key>
                <string>大嶼山石壁</string>
            </dict>
            <dict>
                <key>name</key>
                <string>大嶼山大澳</string>
            </dict>
            <dict>
                <key>name</key>
                <string>大嶼山塘福</string>
            </dict>
            <dict>
                <key>name</key>
                <string>大嶼山東涌</string>
            </dict>
            <dict>
                <key>name</key>
                <string>流浮山</string>
            </dict>
            <dict>
                <key>name</key>
                <string>馬鞍山</string>
            </dict>
            <dict>
                <key>name</key>
                <string>馬灣</string>
            </dict>
            <dict>
                <key>name</key>
                <string>坪洲</string>
            </dict>
            <dict>
                <key>name</key>
                <string>坪輋</string>
            </dict>
            <dict>
                <key>name</key>
                <string>西貢</string>
            </dict>
            <dict>
                <key>name</key>
                <string>沙頭角</string>
            </dict>
            <dict>
                <key>name</key>
                <string>沙田</string>
            </dict>
            <dict>
                <key>name</key>
                <string>沙田火炭</string>
            </dict>
            <dict>
                <key>name</key>
                <string>沙田小瀝源</string>
            </dict>
            <dict>
                <key>name</key>
                <string>沙田大圍</string>
            </dict>
            <dict>
                <key>name</key>
                <string>深井</string>
            </dict>
            <dict>
                <key>name</key>
                <string>石鼓洲</string>
            </dict>
            <dict>
                <key>name</key>
                <string>上水</string>
            </dict>
            <dict>
                <key>name</key>
                <string>掃管笏</string>
            </dict>
            <dict>
                <key>name</key>
                <string>打鼓嶺</string>
            </dict>
            <dict>
                <key>name</key>
                <string>大欖</string>
            </dict>
            <dict>
                <key>name</key>
                <string>大埔</string>
            </dict>
            <dict>
                <key>name</key>
                <string>大埔林村</string>
            </dict>
            <dict>
                <key>name</key>
                <string>大埔汀角</string>
            </dict>
            <dict>
                <key>name</key>
                <string>大埔滘</string>
            </dict>
            <dict>
                <key>name</key>
                <string>天水圍</string>
            </dict>
            <dict>
                <key>name</key>
                <string>汀九</string>
            </dict>
            <dict>
                <key>name</key>
                <string>將軍澳</string>
            </dict>
            <dict>
                <key>name</key>
                <string>青衣</string>
            </dict>
            <dict>
                <key>name</key>
                <string>荃灣</string>
            </dict>
            <dict>
                <key>name</key>
                <string>屯門</string>
            </dict>
            <dict>
                <key>name</key>
                <string>屯門藍地</string>
            </dict>
            <dict>
                <key>name</key>
                <string>屯門小欖</string>
            </dict>
            <dict>
                <key>name</key>
                <string>元朗</string>
            </dict>
            <dict>
                <key>name</key>
                <string>元朗錦田</string>
            </dict>
            <dict>
                <key>name</key>
                <string>元朗八鄉</string>
            </dict>
            <dict>
                <key>name</key>
                <string>元朗屏山</string>
            </dict>
            <dict>
                <key>name</key>
                <string>元朗新田</string>
            </dict>
            <dict>
                <key>name</key>
                <string>元朗石崗</string>
            </dict>
            <dict>
                <key>name</key>
                <string>元朗大棠</string>
            </dict>
            <dict>
                <key>name</key>
                <string>元朗潭尾</string>
            </dict>
		</array>
	</dict>
</array>
</plist>