<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>基隆市</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>仁愛區</string>
				<key>zipcode</key>
				<string>200</string>
			</dict>
			<dict>
				<key>name</key>
				<string>信義區</string>
				<key>zipcode</key>
				<string>201</string>
			</dict>
			<dict>
				<key>name</key>
				<string>中正區</string>
				<key>zipcode</key>
				<string>202</string>
			</dict>
			<dict>
				<key>name</key>
				<string>中山區</string>
				<key>zipcode</key>
				<string>203</string>
			</dict>
			<dict>
				<key>name</key>
				<string>安樂區</string>
				<key>zipcode</key>
				<string>204</string>
			</dict>
			<dict>
				<key>name</key>
				<string>暖暖區</string>
				<key>zipcode</key>
				<string>205</string>
			</dict>
			<dict>
				<key>name</key>
				<string>七堵區</string>
				<key>zipcode</key>
				<string>206</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>台北市</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>中正區</string>
				<key>zipcode</key>
				<string>100</string>
			</dict>
			<dict>
				<key>name</key>
				<string>大同區</string>
				<key>zipcode</key>
				<string>103</string>
			</dict>
			<dict>
				<key>name</key>
				<string>中山區</string>
				<key>zipcode</key>
				<string>104</string>
			</dict>
			<dict>
				<key>name</key>
				<string>松山區</string>
				<key>zipcode</key>
				<string>105</string>
			</dict>
			<dict>
				<key>name</key>
				<string>大安區</string>
				<key>zipcode</key>
				<string>106</string>
			</dict>
			<dict>
				<key>name</key>
				<string>萬華區</string>
				<key>zipcode</key>
				<string>108</string>
			</dict>
			<dict>
				<key>name</key>
				<string>信義區</string>
				<key>zipcode</key>
				<string>110</string>
			</dict>
			<dict>
				<key>name</key>
				<string>士林區</string>
				<key>zipcode</key>
				<string>111</string>
			</dict>
			<dict>
				<key>name</key>
				<string>北投區</string>
				<key>zipcode</key>
				<string>112</string>
			</dict>
			<dict>
				<key>name</key>
				<string>內湖區</string>
				<key>zipcode</key>
				<string>114</string>
			</dict>
			<dict>
				<key>name</key>
				<string>南港區</string>
				<key>zipcode</key>
				<string>115</string>
			</dict>
			<dict>
				<key>name</key>
				<string>文山區</string>
				<key>zipcode</key>
				<string>116</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>新北市</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>萬里區</string>
				<key>zipcode</key>
				<string>207</string>
			</dict>
			<dict>
				<key>name</key>
				<string>金山區</string>
				<key>zipcode</key>
				<string>208</string>
			</dict>
			<dict>
				<key>name</key>
				<string>板橋區</string>
				<key>zipcode</key>
				<string>220</string>
			</dict>
			<dict>
				<key>name</key>
				<string>汐止區</string>
				<key>zipcode</key>
				<string>221</string>
			</dict>
			<dict>
				<key>name</key>
				<string>深坑區</string>
				<key>zipcode</key>
				<string>222</string>
			</dict>
			<dict>
				<key>name</key>
				<string>石碇區</string>
				<key>zipcode</key>
				<string>223</string>
			</dict>
			<dict>
				<key>name</key>
				<string>瑞芳區</string>
				<key>zipcode</key>
				<string>224</string>
			</dict>
			<dict>
				<key>name</key>
				<string>平溪區</string>
				<key>zipcode</key>
				<string>226</string>
			</dict>
			<dict>
				<key>name</key>
				<string>雙溪區</string>
				<key>zipcode</key>
				<string>227</string>
			</dict>
			<dict>
				<key>name</key>
				<string>貢寮區</string>
				<key>zipcode</key>
				<string>228</string>
			</dict>
			<dict>
				<key>name</key>
				<string>新店區</string>
				<key>zipcode</key>
				<string>231</string>
			</dict>
			<dict>
				<key>name</key>
				<string>坪林區</string>
				<key>zipcode</key>
				<string>232</string>
			</dict>
			<dict>
				<key>name</key>
				<string>烏來區</string>
				<key>zipcode</key>
				<string>233</string>
			</dict>
			<dict>
				<key>name</key>
				<string>永和區</string>
				<key>zipcode</key>
				<string>234</string>
			</dict>
			<dict>
				<key>name</key>
				<string>中和區</string>
				<key>zipcode</key>
				<string>235</string>
			</dict>
			<dict>
				<key>name</key>
				<string>土城區</string>
				<key>zipcode</key>
				<string>236</string>
			</dict>
			<dict>
				<key>name</key>
				<string>三峽區</string>
				<key>zipcode</key>
				<string>237</string>
			</dict>
			<dict>
				<key>name</key>
				<string>樹林區</string>
				<key>zipcode</key>
				<string>238</string>
			</dict>
			<dict>
				<key>name</key>
				<string>鶯歌區</string>
				<key>zipcode</key>
				<string>239</string>
			</dict>
			<dict>
				<key>name</key>
				<string>三重區</string>
				<key>zipcode</key>
				<string>241</string>
			</dict>
			<dict>
				<key>name</key>
				<string>新莊區</string>
				<key>zipcode</key>
				<string>242</string>
			</dict>
			<dict>
				<key>name</key>
				<string>泰山區</string>
				<key>zipcode</key>
				<string>243</string>
			</dict>
			<dict>
				<key>name</key>
				<string>林口區</string>
				<key>zipcode</key>
				<string>244</string>
			</dict>
			<dict>
				<key>name</key>
				<string>蘆洲區</string>
				<key>zipcode</key>
				<string>247</string>
			</dict>
			<dict>
				<key>name</key>
				<string>五股區</string>
				<key>zipcode</key>
				<string>248</string>
			</dict>
			<dict>
				<key>name</key>
				<string>八里區</string>
				<key>zipcode</key>
				<string>249</string>
			</dict>
			<dict>
				<key>name</key>
				<string>淡水區</string>
				<key>zipcode</key>
				<string>251</string>
			</dict>
			<dict>
				<key>name</key>
				<string>三芝區</string>
				<key>zipcode</key>
				<string>252</string>
			</dict>
			<dict>
				<key>name</key>
				<string>石門區</string>
				<key>zipcode</key>
				<string>253</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>桃園縣</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>中壢市</string>
				<key>zipcode</key>
				<string>320</string>
			</dict>
			<dict>
				<key>name</key>
				<string>平鎮市</string>
				<key>zipcode</key>
				<string>324</string>
			</dict>
			<dict>
				<key>name</key>
				<string>龍潭鄉</string>
				<key>zipcode</key>
				<string>325</string>
			</dict>
			<dict>
				<key>name</key>
				<string>楊梅市</string>
				<key>zipcode</key>
				<string>326</string>
			</dict>
			<dict>
				<key>name</key>
				<string>新屋鄉</string>
				<key>zipcode</key>
				<string>327</string>
			</dict>
			<dict>
				<key>name</key>
				<string>觀音鄉</string>
				<key>zipcode</key>
				<string>328</string>
			</dict>
			<dict>
				<key>name</key>
				<string>桃園市</string>
				<key>zipcode</key>
				<string>330</string>
			</dict>
			<dict>
				<key>name</key>
				<string>龜山鄉</string>
				<key>zipcode</key>
				<string>333</string>
			</dict>
			<dict>
				<key>name</key>
				<string>八德市</string>
				<key>zipcode</key>
				<string>334</string>
			</dict>
			<dict>
				<key>name</key>
				<string>大溪鎮</string>
				<key>zipcode</key>
				<string>335</string>
			</dict>
			<dict>
				<key>name</key>
				<string>復興鄉</string>
				<key>zipcode</key>
				<string>336</string>
			</dict>
			<dict>
				<key>name</key>
				<string>大園鄉</string>
				<key>zipcode</key>
				<string>337</string>
			</dict>
			<dict>
				<key>name</key>
				<string>蘆竹鄉</string>
				<key>zipcode</key>
				<string>338</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>新竹市</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>東區</string>
				<key>zipcode</key>
				<string>300</string>
			</dict>
			<dict>
				<key>name</key>
				<string>北區</string>
				<key>zipcode</key>
				<string>300</string>
			</dict>
			<dict>
				<key>name</key>
				<string>香山區</string>
				<key>zipcode</key>
				<string>300</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>新竹縣</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>竹北市</string>
				<key>zipcode</key>
				<string>302</string>
			</dict>
			<dict>
				<key>name</key>
				<string>湖口鄉</string>
				<key>zipcode</key>
				<string>303</string>
			</dict>
			<dict>
				<key>name</key>
				<string>新豐鄉</string>
				<key>zipcode</key>
				<string>304</string>
			</dict>
			<dict>
				<key>name</key>
				<string>新埔鎮</string>
				<key>zipcode</key>
				<string>305</string>
			</dict>
			<dict>
				<key>name</key>
				<string>關西鎮</string>
				<key>zipcode</key>
				<string>306</string>
			</dict>
			<dict>
				<key>name</key>
				<string>芎林鄉</string>
				<key>zipcode</key>
				<string>307</string>
			</dict>
			<dict>
				<key>name</key>
				<string>寶山鄉</string>
				<key>zipcode</key>
				<string>308</string>
			</dict>
			<dict>
				<key>name</key>
				<string>竹東鎮</string>
				<key>zipcode</key>
				<string>310</string>
			</dict>
			<dict>
				<key>name</key>
				<string>五峰鄉</string>
				<key>zipcode</key>
				<string>311</string>
			</dict>
			<dict>
				<key>name</key>
				<string>橫山鄉</string>
				<key>zipcode</key>
				<string>312</string>
			</dict>
			<dict>
				<key>name</key>
				<string>尖石鄉</string>
				<key>zipcode</key>
				<string>313</string>
			</dict>
			<dict>
				<key>name</key>
				<string>北埔鄉</string>
				<key>zipcode</key>
				<string>314</string>
			</dict>
			<dict>
				<key>name</key>
				<string>峨眉鄉</string>
				<key>zipcode</key>
				<string>315</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>苗栗縣</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>竹南鎮</string>
				<key>zipcode</key>
				<string>350</string>
			</dict>
			<dict>
				<key>name</key>
				<string>頭份鎮</string>
				<key>zipcode</key>
				<string>351</string>
			</dict>
			<dict>
				<key>name</key>
				<string>三灣鄉</string>
				<key>zipcode</key>
				<string>352</string>
			</dict>
			<dict>
				<key>name</key>
				<string>南庄鄉</string>
				<key>zipcode</key>
				<string>353</string>
			</dict>
			<dict>
				<key>name</key>
				<string>獅潭鄉</string>
				<key>zipcode</key>
				<string>354</string>
			</dict>
			<dict>
				<key>name</key>
				<string>後龍鎮</string>
				<key>zipcode</key>
				<string>356</string>
			</dict>
			<dict>
				<key>name</key>
				<string>通霄鎮</string>
				<key>zipcode</key>
				<string>357</string>
			</dict>
			<dict>
				<key>name</key>
				<string>苑裡鎮</string>
				<key>zipcode</key>
				<string>358</string>
			</dict>
			<dict>
				<key>name</key>
				<string>苗栗市</string>
				<key>zipcode</key>
				<string>360</string>
			</dict>
			<dict>
				<key>name</key>
				<string>造橋鄉</string>
				<key>zipcode</key>
				<string>361</string>
			</dict>
			<dict>
				<key>name</key>
				<string>頭屋鄉</string>
				<key>zipcode</key>
				<string>362</string>
			</dict>
			<dict>
				<key>name</key>
				<string>公館鄉</string>
				<key>zipcode</key>
				<string>363</string>
			</dict>
			<dict>
				<key>name</key>
				<string>大湖鄉</string>
				<key>zipcode</key>
				<string>364</string>
			</dict>
			<dict>
				<key>name</key>
				<string>泰安鄉</string>
				<key>zipcode</key>
				<string>364</string>
			</dict>
			<dict>
				<key>name</key>
				<string>銅鑼鄉</string>
				<key>zipcode</key>
				<string>366</string>
			</dict>
			<dict>
				<key>name</key>
				<string>三義鄉</string>
				<key>zipcode</key>
				<string>367</string>
			</dict>
			<dict>
				<key>name</key>
				<string>西湖鄉</string>
				<key>zipcode</key>
				<string>368</string>
			</dict>
			<dict>
				<key>name</key>
				<string>卓蘭鎮</string>
				<key>zipcode</key>
				<string>369</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>台中市</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>中區</string>
				<key>zipcode</key>
				<string>400</string>
			</dict>
			<dict>
				<key>name</key>
				<string>東區</string>
				<key>zipcode</key>
				<string>401</string>
			</dict>
			<dict>
				<key>name</key>
				<string>南區</string>
				<key>zipcode</key>
				<string>402</string>
			</dict>
			<dict>
				<key>name</key>
				<string>西區</string>
				<key>zipcode</key>
				<string>403</string>
			</dict>
			<dict>
				<key>name</key>
				<string>北區</string>
				<key>zipcode</key>
				<string>404</string>
			</dict>
			<dict>
				<key>name</key>
				<string>北屯區</string>
				<key>zipcode</key>
				<string>406</string>
			</dict>
			<dict>
				<key>name</key>
				<string>西屯區</string>
				<key>zipcode</key>
				<string>407</string>
			</dict>
			<dict>
				<key>name</key>
				<string>南屯區</string>
				<key>zipcode</key>
				<string>408</string>
			</dict>
			<dict>
				<key>name</key>
				<string>太平區</string>
				<key>zipcode</key>
				<string>411</string>
			</dict>
			<dict>
				<key>name</key>
				<string>大里區</string>
				<key>zipcode</key>
				<string>412</string>
			</dict>
			<dict>
				<key>name</key>
				<string>霧峰區</string>
				<key>zipcode</key>
				<string>413</string>
			</dict>
			<dict>
				<key>name</key>
				<string>烏日區</string>
				<key>zipcode</key>
				<string>414</string>
			</dict>
			<dict>
				<key>name</key>
				<string>豐原區</string>
				<key>zipcode</key>
				<string>420</string>
			</dict>
			<dict>
				<key>name</key>
				<string>后里區</string>
				<key>zipcode</key>
				<string>421</string>
			</dict>
			<dict>
				<key>name</key>
				<string>石岡區</string>
				<key>zipcode</key>
				<string>422</string>
			</dict>
			<dict>
				<key>name</key>
				<string>東勢區</string>
				<key>zipcode</key>
				<string>423</string>
			</dict>
			<dict>
				<key>name</key>
				<string>和平區</string>
				<key>zipcode</key>
				<string>424</string>
			</dict>
			<dict>
				<key>name</key>
				<string>新社區</string>
				<key>zipcode</key>
				<string>426</string>
			</dict>
			<dict>
				<key>name</key>
				<string>潭子區</string>
				<key>zipcode</key>
				<string>427</string>
			</dict>
			<dict>
				<key>name</key>
				<string>大雅區</string>
				<key>zipcode</key>
				<string>428</string>
			</dict>
			<dict>
				<key>name</key>
				<string>神岡區</string>
				<key>zipcode</key>
				<string>429</string>
			</dict>
			<dict>
				<key>name</key>
				<string>大肚區</string>
				<key>zipcode</key>
				<string>432</string>
			</dict>
			<dict>
				<key>name</key>
				<string>沙鹿區</string>
				<key>zipcode</key>
				<string>433</string>
			</dict>
			<dict>
				<key>name</key>
				<string>龍井區</string>
				<key>zipcode</key>
				<string>434</string>
			</dict>
			<dict>
				<key>name</key>
				<string>梧棲區</string>
				<key>zipcode</key>
				<string>435</string>
			</dict>
			<dict>
				<key>name</key>
				<string>清水區</string>
				<key>zipcode</key>
				<string>436</string>
			</dict>
			<dict>
				<key>name</key>
				<string>大甲區</string>
				<key>zipcode</key>
				<string>437</string>
			</dict>
			<dict>
				<key>name</key>
				<string>外埔區</string>
				<key>zipcode</key>
				<string>438</string>
			</dict>
			<dict>
				<key>name</key>
				<string>大安區</string>
				<key>zipcode</key>
				<string>439</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>彰化縣</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>彰化市</string>
				<key>zipcode</key>
				<string>500</string>
			</dict>
			<dict>
				<key>name</key>
				<string>芬園鄉</string>
				<key>zipcode</key>
				<string>502</string>
			</dict>
			<dict>
				<key>name</key>
				<string>花壇鄉</string>
				<key>zipcode</key>
				<string>503</string>
			</dict>
			<dict>
				<key>name</key>
				<string>秀水鄉</string>
				<key>zipcode</key>
				<string>504</string>
			</dict>
			<dict>
				<key>name</key>
				<string>鹿港鎮</string>
				<key>zipcode</key>
				<string>505</string>
			</dict>
			<dict>
				<key>name</key>
				<string>福興鄉</string>
				<key>zipcode</key>
				<string>506</string>
			</dict>
			<dict>
				<key>name</key>
				<string>線西鄉</string>
				<key>zipcode</key>
				<string>507</string>
			</dict>
			<dict>
				<key>name</key>
				<string>和美鎮</string>
				<key>zipcode</key>
				<string>508</string>
			</dict>
			<dict>
				<key>name</key>
				<string>伸港鄉</string>
				<key>zipcode</key>
				<string>509</string>
			</dict>
			<dict>
				<key>name</key>
				<string>員林鎮</string>
				<key>zipcode</key>
				<string>510</string>
			</dict>
			<dict>
				<key>name</key>
				<string>社頭鄉</string>
				<key>zipcode</key>
				<string>511</string>
			</dict>
			<dict>
				<key>name</key>
				<string>永境鄉</string>
				<key>zipcode</key>
				<string>512</string>
			</dict>
			<dict>
				<key>name</key>
				<string>埔心鄉</string>
				<key>zipcode</key>
				<string>513</string>
			</dict>
			<dict>
				<key>name</key>
				<string>溪湖鎮</string>
				<key>zipcode</key>
				<string>514</string>
			</dict>
			<dict>
				<key>name</key>
				<string>大村鄉</string>
				<key>zipcode</key>
				<string>515</string>
			</dict>
			<dict>
				<key>name</key>
				<string>埔鹽鄉</string>
				<key>zipcode</key>
				<string>516</string>
			</dict>
			<dict>
				<key>name</key>
				<string>田中鎮</string>
				<key>zipcode</key>
				<string>520</string>
			</dict>
			<dict>
				<key>name</key>
				<string>北斗鎮</string>
				<key>zipcode</key>
				<string>521</string>
			</dict>
			<dict>
				<key>name</key>
				<string>田尾鄉</string>
				<key>zipcode</key>
				<string>522</string>
			</dict>
			<dict>
				<key>name</key>
				<string>埤頭鄉</string>
				<key>zipcode</key>
				<string>523</string>
			</dict>
			<dict>
				<key>name</key>
				<string>溪洲鄉</string>
				<key>zipcode</key>
				<string>524</string>
			</dict>
			<dict>
				<key>name</key>
				<string>竹塘鄉</string>
				<key>zipcode</key>
				<string>525</string>
			</dict>
			<dict>
				<key>name</key>
				<string>二林鎮</string>
				<key>zipcode</key>
				<string>526</string>
			</dict>
			<dict>
				<key>name</key>
				<string>大城鄉</string>
				<key>zipcode</key>
				<string>527</string>
			</dict>
			<dict>
				<key>name</key>
				<string>芳苑鄉</string>
				<key>zipcode</key>
				<string>528</string>
			</dict>
			<dict>
				<key>name</key>
				<string>二水鄉</string>
				<key>zipcode</key>
				<string>530</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>南投縣</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>南投市</string>
				<key>zipcode</key>
				<string>540</string>
			</dict>
			<dict>
				<key>name</key>
				<string>中寮鄉</string>
				<key>zipcode</key>
				<string>541</string>
			</dict>
			<dict>
				<key>name</key>
				<string>草屯鎮</string>
				<key>zipcode</key>
				<string>542</string>
			</dict>
			<dict>
				<key>name</key>
				<string>國姓鄉</string>
				<key>zipcode</key>
				<string>544</string>
			</dict>
			<dict>
				<key>name</key>
				<string>埔里鎮</string>
				<key>zipcode</key>
				<string>545</string>
			</dict>
			<dict>
				<key>name</key>
				<string>仁愛鄉</string>
				<key>zipcode</key>
				<string>546</string>
			</dict>
			<dict>
				<key>name</key>
				<string>名間鄉</string>
				<key>zipcode</key>
				<string>551</string>
			</dict>
			<dict>
				<key>name</key>
				<string>集集鎮</string>
				<key>zipcode</key>
				<string>552</string>
			</dict>
			<dict>
				<key>name</key>
				<string>水里鄉</string>
				<key>zipcode</key>
				<string>553</string>
			</dict>
			<dict>
				<key>name</key>
				<string>魚池鄉</string>
				<key>zipcode</key>
				<string>555</string>
			</dict>
			<dict>
				<key>name</key>
				<string>信義鄉</string>
				<key>zipcode</key>
				<string>556</string>
			</dict>
			<dict>
				<key>name</key>
				<string>竹山鎮</string>
				<key>zipcode</key>
				<string>557</string>
			</dict>
			<dict>
				<key>name</key>
				<string>鹿谷鄉</string>
				<key>zipcode</key>
				<string>558</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>雲林縣</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>斗南市</string>
				<key>zipcode</key>
				<string>630</string>
			</dict>
			<dict>
				<key>name</key>
				<string>大埤鄉</string>
				<key>zipcode</key>
				<string>631</string>
			</dict>
			<dict>
				<key>name</key>
				<string>虎尾鎮</string>
				<key>zipcode</key>
				<string>632</string>
			</dict>
			<dict>
				<key>name</key>
				<string>土庫鎮</string>
				<key>zipcode</key>
				<string>633</string>
			</dict>
			<dict>
				<key>name</key>
				<string>褒忠鄉</string>
				<key>zipcode</key>
				<string>634</string>
			</dict>
			<dict>
				<key>name</key>
				<string>東勢鄉</string>
				<key>zipcode</key>
				<string>635</string>
			</dict>
			<dict>
				<key>name</key>
				<string>台西鄉</string>
				<key>zipcode</key>
				<string>636</string>
			</dict>
			<dict>
				<key>name</key>
				<string>崙背鄉</string>
				<key>zipcode</key>
				<string>637</string>
			</dict>
			<dict>
				<key>name</key>
				<string>麥寮鄉</string>
				<key>zipcode</key>
				<string>638</string>
			</dict>
			<dict>
				<key>name</key>
				<string>斗六市</string>
				<key>zipcode</key>
				<string>640</string>
			</dict>
			<dict>
				<key>name</key>
				<string>林內鄉</string>
				<key>zipcode</key>
				<string>643</string>
			</dict>
			<dict>
				<key>name</key>
				<string>古坑鄉</string>
				<key>zipcode</key>
				<string>646</string>
			</dict>
			<dict>
				<key>name</key>
				<string>莿桐鄉</string>
				<key>zipcode</key>
				<string>647</string>
			</dict>
			<dict>
				<key>name</key>
				<string>西螺鎮</string>
				<key>zipcode</key>
				<string>648</string>
			</dict>
			<dict>
				<key>name</key>
				<string>二崙鄉</string>
				<key>zipcode</key>
				<string>649</string>
			</dict>
			<dict>
				<key>name</key>
				<string>北港鎮</string>
				<key>zipcode</key>
				<string>651</string>
			</dict>
			<dict>
				<key>name</key>
				<string>水林鄉</string>
				<key>zipcode</key>
				<string>652</string>
			</dict>
			<dict>
				<key>name</key>
				<string>口湖鄉</string>
				<key>zipcode</key>
				<string>653</string>
			</dict>
			<dict>
				<key>name</key>
				<string>四湖鄉</string>
				<key>zipcode</key>
				<string>654</string>
			</dict>
			<dict>
				<key>name</key>
				<string>元長鄉</string>
				<key>zipcode</key>
				<string>655</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>嘉義市</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>東區</string>
				<key>zipcode</key>
				<string>600</string>
			</dict>
			<dict>
				<key>name</key>
				<string>西區</string>
				<key>zipcode</key>
				<string>600</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>嘉義縣</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>番路鄉</string>
				<key>zipcode</key>
				<string>602</string>
			</dict>
			<dict>
				<key>name</key>
				<string>梅山鄉</string>
				<key>zipcode</key>
				<string>603</string>
			</dict>
			<dict>
				<key>name</key>
				<string>竹崎鄉</string>
				<key>zipcode</key>
				<string>604</string>
			</dict>
			<dict>
				<key>name</key>
				<string>阿里山鄉</string>
				<key>zipcode</key>
				<string>605</string>
			</dict>
			<dict>
				<key>name</key>
				<string>中埔鄉</string>
				<key>zipcode</key>
				<string>606</string>
			</dict>
			<dict>
				<key>name</key>
				<string>大埔鄉</string>
				<key>zipcode</key>
				<string>607</string>
			</dict>
			<dict>
				<key>name</key>
				<string>水上鄉</string>
				<key>zipcode</key>
				<string>608</string>
			</dict>
			<dict>
				<key>name</key>
				<string>鹿草鄉</string>
				<key>zipcode</key>
				<string>611</string>
			</dict>
			<dict>
				<key>name</key>
				<string>太保市</string>
				<key>zipcode</key>
				<string>612</string>
			</dict>
			<dict>
				<key>name</key>
				<string>朴子市</string>
				<key>zipcode</key>
				<string>613</string>
			</dict>
			<dict>
				<key>name</key>
				<string>東石鄉</string>
				<key>zipcode</key>
				<string>614</string>
			</dict>
			<dict>
				<key>name</key>
				<string>六腳鄉</string>
				<key>zipcode</key>
				<string>615</string>
			</dict>
			<dict>
				<key>name</key>
				<string>新港鄉</string>
				<key>zipcode</key>
				<string>616</string>
			</dict>
			<dict>
				<key>name</key>
				<string>民雄鄉</string>
				<key>zipcode</key>
				<string>621</string>
			</dict>
			<dict>
				<key>name</key>
				<string>大林鎮</string>
				<key>zipcode</key>
				<string>622</string>
			</dict>
			<dict>
				<key>name</key>
				<string>西口鄉</string>
				<key>zipcode</key>
				<string>623</string>
			</dict>
			<dict>
				<key>name</key>
				<string>義竹鄉</string>
				<key>zipcode</key>
				<string>624</string>
			</dict>
			<dict>
				<key>name</key>
				<string>布袋鎮</string>
				<key>zipcode</key>
				<string>625</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>台南市</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>中西區</string>
				<key>zipcode</key>
				<string>700</string>
			</dict>
			<dict>
				<key>name</key>
				<string>東區</string>
				<key>zipcode</key>
				<string>701</string>
			</dict>
			<dict>
				<key>name</key>
				<string>南區</string>
				<key>zipcode</key>
				<string>702</string>
			</dict>
			<dict>
				<key>name</key>
				<string>北區</string>
				<key>zipcode</key>
				<string>704</string>
			</dict>
			<dict>
				<key>name</key>
				<string>安平區</string>
				<key>zipcode</key>
				<string>708</string>
			</dict>
			<dict>
				<key>name</key>
				<string>安南區</string>
				<key>zipcode</key>
				<string>709</string>
			</dict>
			<dict>
				<key>name</key>
				<string>永康區</string>
				<key>zipcode</key>
				<string>710</string>
			</dict>
			<dict>
				<key>name</key>
				<string>歸仁區</string>
				<key>zipcode</key>
				<string>711</string>
			</dict>
			<dict>
				<key>name</key>
				<string>新化區</string>
				<key>zipcode</key>
				<string>712</string>
			</dict>
			<dict>
				<key>name</key>
				<string>左鎮區</string>
				<key>zipcode</key>
				<string>713</string>
			</dict>
			<dict>
				<key>name</key>
				<string>玉井區</string>
				<key>zipcode</key>
				<string>714</string>
			</dict>
			<dict>
				<key>name</key>
				<string>楠西區</string>
				<key>zipcode</key>
				<string>715</string>
			</dict>
			<dict>
				<key>name</key>
				<string>南化區</string>
				<key>zipcode</key>
				<string>716</string>
			</dict>
			<dict>
				<key>name</key>
				<string>仁德區</string>
				<key>zipcode</key>
				<string>717</string>
			</dict>
			<dict>
				<key>name</key>
				<string>關廟區</string>
				<key>zipcode</key>
				<string>718</string>
			</dict>
			<dict>
				<key>name</key>
				<string>龍崎嶇</string>
				<key>zipcode</key>
				<string>719</string>
			</dict>
			<dict>
				<key>name</key>
				<string>官田區</string>
				<key>zipcode</key>
				<string>720</string>
			</dict>
			<dict>
				<key>name</key>
				<string>麻豆區</string>
				<key>zipcode</key>
				<string>721</string>
			</dict>
			<dict>
				<key>name</key>
				<string>佳里區</string>
				<key>zipcode</key>
				<string>722</string>
			</dict>
			<dict>
				<key>name</key>
				<string>西港區</string>
				<key>zipcode</key>
				<string>723</string>
			</dict>
			<dict>
				<key>name</key>
				<string>七股區</string>
				<key>zipcode</key>
				<string>724</string>
			</dict>
			<dict>
				<key>name</key>
				<string>將軍區</string>
				<key>zipcode</key>
				<string>725</string>
			</dict>
			<dict>
				<key>name</key>
				<string>學甲區</string>
				<key>zipcode</key>
				<string>726</string>
			</dict>
			<dict>
				<key>name</key>
				<string>北門區</string>
				<key>zipcode</key>
				<string>727</string>
			</dict>
			<dict>
				<key>name</key>
				<string>新營區</string>
				<key>zipcode</key>
				<string>730</string>
			</dict>
			<dict>
				<key>name</key>
				<string>後壁區</string>
				<key>zipcode</key>
				<string>731</string>
			</dict>
			<dict>
				<key>name</key>
				<string>白河區</string>
				<key>zipcode</key>
				<string>732</string>
			</dict>
			<dict>
				<key>name</key>
				<string>東山區</string>
				<key>zipcode</key>
				<string>733</string>
			</dict>
			<dict>
				<key>name</key>
				<string>六甲區</string>
				<key>zipcode</key>
				<string>734</string>
			</dict>
			<dict>
				<key>name</key>
				<string>下營區</string>
				<key>zipcode</key>
				<string>735</string>
			</dict>
			<dict>
				<key>name</key>
				<string>柳營區</string>
				<key>zipcode</key>
				<string>736</string>
			</dict>
			<dict>
				<key>name</key>
				<string>鹽水區</string>
				<key>zipcode</key>
				<string>737</string>
			</dict>
			<dict>
				<key>name</key>
				<string>善化區</string>
				<key>zipcode</key>
				<string>741</string>
			</dict>
			<dict>
				<key>name</key>
				<string>大內區</string>
				<key>zipcode</key>
				<string>742</string>
			</dict>
			<dict>
				<key>name</key>
				<string>山上區</string>
				<key>zipcode</key>
				<string>743</string>
			</dict>
			<dict>
				<key>name</key>
				<string>新市區</string>
				<key>zipcode</key>
				<string>744</string>
			</dict>
			<dict>
				<key>name</key>
				<string>安定區</string>
				<key>zipcode</key>
				<string>745</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>高雄市</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>新興區</string>
				<key>zipcode</key>
				<string>800</string>
			</dict>
			<dict>
				<key>name</key>
				<string>前金區</string>
				<key>zipcode</key>
				<string>801</string>
			</dict>
			<dict>
				<key>name</key>
				<string>苓雅區</string>
				<key>zipcode</key>
				<string>802</string>
			</dict>
			<dict>
				<key>name</key>
				<string>鹽埕區</string>
				<key>zipcode</key>
				<string>803</string>
			</dict>
			<dict>
				<key>name</key>
				<string>鼓山區</string>
				<key>zipcode</key>
				<string>804</string>
			</dict>
			<dict>
				<key>name</key>
				<string>旗津區</string>
				<key>zipcode</key>
				<string>805</string>
			</dict>
			<dict>
				<key>name</key>
				<string>前鎮區</string>
				<key>zipcode</key>
				<string>806</string>
			</dict>
			<dict>
				<key>name</key>
				<string>三民區</string>
				<key>zipcode</key>
				<string>807</string>
			</dict>
			<dict>
				<key>name</key>
				<string>楠梓區</string>
				<key>zipcode</key>
				<string>811</string>
			</dict>
			<dict>
				<key>name</key>
				<string>小港區</string>
				<key>zipcode</key>
				<string>812</string>
			</dict>
			<dict>
				<key>name</key>
				<string>左營區</string>
				<key>zipcode</key>
				<string>813</string>
			</dict>
			<dict>
				<key>name</key>
				<string>仁武區</string>
				<key>zipcode</key>
				<string>814</string>
			</dict>
			<dict>
				<key>name</key>
				<string>大社區</string>
				<key>zipcode</key>
				<string>815</string>
			</dict>
			<dict>
				<key>name</key>
				<string>東沙群島</string>
				<key>zipcode</key>
				<string>817</string>
			</dict>
			<dict>
				<key>name</key>
				<string>南沙群島</string>
				<key>zipcode</key>
				<string>819</string>
			</dict>
			<dict>
				<key>name</key>
				<string>岡山區</string>
				<key>zipcode</key>
				<string>820</string>
			</dict>
			<dict>
				<key>name</key>
				<string>路竹區</string>
				<key>zipcode</key>
				<string>821</string>
			</dict>
			<dict>
				<key>name</key>
				<string>阿蓮區</string>
				<key>zipcode</key>
				<string>822</string>
			</dict>
			<dict>
				<key>name</key>
				<string>田寮區</string>
				<key>zipcode</key>
				<string>823</string>
			</dict>
			<dict>
				<key>name</key>
				<string>燕巢區</string>
				<key>zipcode</key>
				<string>824</string>
			</dict>
			<dict>
				<key>name</key>
				<string>橋頭區</string>
				<key>zipcode</key>
				<string>825</string>
			</dict>
			<dict>
				<key>name</key>
				<string>梓官區</string>
				<key>zipcode</key>
				<string>826</string>
			</dict>
			<dict>
				<key>name</key>
				<string>彌陀區</string>
				<key>zipcode</key>
				<string>827</string>
			</dict>
			<dict>
				<key>name</key>
				<string>永安區</string>
				<key>zipcode</key>
				<string>828</string>
			</dict>
			<dict>
				<key>name</key>
				<string>湖內區</string>
				<key>zipcode</key>
				<string>829</string>
			</dict>
			<dict>
				<key>name</key>
				<string>鳳山區</string>
				<key>zipcode</key>
				<string>830</string>
			</dict>
			<dict>
				<key>name</key>
				<string>大寮區</string>
				<key>zipcode</key>
				<string>831</string>
			</dict>
			<dict>
				<key>name</key>
				<string>林園區</string>
				<key>zipcode</key>
				<string>832</string>
			</dict>
			<dict>
				<key>name</key>
				<string>鳥松區</string>
				<key>zipcode</key>
				<string>833</string>
			</dict>
			<dict>
				<key>name</key>
				<string>大樹區</string>
				<key>zipcode</key>
				<string>840</string>
			</dict>
			<dict>
				<key>name</key>
				<string>旗山區</string>
				<key>zipcode</key>
				<string>842</string>
			</dict>
			<dict>
				<key>name</key>
				<string>美濃區</string>
				<key>zipcode</key>
				<string>843</string>
			</dict>
			<dict>
				<key>name</key>
				<string>六龜區</string>
				<key>zipcode</key>
				<string>844</string>
			</dict>
			<dict>
				<key>name</key>
				<string>內門區</string>
				<key>zipcode</key>
				<string>845</string>
			</dict>
			<dict>
				<key>name</key>
				<string>杉林區</string>
				<key>zipcode</key>
				<string>846</string>
			</dict>
			<dict>
				<key>name</key>
				<string>甲仙區</string>
				<key>zipcode</key>
				<string>847</string>
			</dict>
			<dict>
				<key>name</key>
				<string>桃源區</string>
				<key>zipcode</key>
				<string>848</string>
			</dict>
			<dict>
				<key>name</key>
				<string>那瑪夏區</string>
				<key>zipcode</key>
				<string>849</string>
			</dict>
			<dict>
				<key>name</key>
				<string>茂林區</string>
				<key>zipcode</key>
				<string>851</string>
			</dict>
			<dict>
				<key>name</key>
				<string>茄萣區</string>
				<key>zipcode</key>
				<string>852</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>屏東縣</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>屏東市</string>
				<key>zipcode</key>
				<string>900</string>
			</dict>
			<dict>
				<key>name</key>
				<string>三地門鄉</string>
				<key>zipcode</key>
				<string>901</string>
			</dict>
			<dict>
				<key>name</key>
				<string>霧台鄉</string>
				<key>zipcode</key>
				<string>902</string>
			</dict>
			<dict>
				<key>name</key>
				<string>瑪家鄉</string>
				<key>zipcode</key>
				<string>903</string>
			</dict>
			<dict>
				<key>name</key>
				<string>九如鄉</string>
				<key>zipcode</key>
				<string>904</string>
			</dict>
			<dict>
				<key>name</key>
				<string>里港鄉</string>
				<key>zipcode</key>
				<string>905</string>
			</dict>
			<dict>
				<key>name</key>
				<string>高樹鄉</string>
				<key>zipcode</key>
				<string>906</string>
			</dict>
			<dict>
				<key>name</key>
				<string>鹽埔鄉</string>
				<key>zipcode</key>
				<string>907</string>
			</dict>
			<dict>
				<key>name</key>
				<string>長治鄉</string>
				<key>zipcode</key>
				<string>908</string>
			</dict>
			<dict>
				<key>name</key>
				<string>麟洛鄉</string>
				<key>zipcode</key>
				<string>909</string>
			</dict>
			<dict>
				<key>name</key>
				<string>竹田鄉</string>
				<key>zipcode</key>
				<string>911</string>
			</dict>
			<dict>
				<key>name</key>
				<string>內埔鄉</string>
				<key>zipcode</key>
				<string>912</string>
			</dict>
			<dict>
				<key>name</key>
				<string>萬丹鄉</string>
				<key>zipcode</key>
				<string>913</string>
			</dict>
			<dict>
				<key>name</key>
				<string>潮州鄉</string>
				<key>zipcode</key>
				<string>920</string>
			</dict>
			<dict>
				<key>name</key>
				<string>泰武鄉</string>
				<key>zipcode</key>
				<string>921</string>
			</dict>
			<dict>
				<key>name</key>
				<string>來義鄉</string>
				<key>zipcode</key>
				<string>922</string>
			</dict>
			<dict>
				<key>name</key>
				<string>萬巒鄉</string>
				<key>zipcode</key>
				<string>923</string>
			</dict>
			<dict>
				<key>name</key>
				<string>崁頂鄉</string>
				<key>zipcode</key>
				<string>924</string>
			</dict>
			<dict>
				<key>name</key>
				<string>新埤鄉</string>
				<key>zipcode</key>
				<string>925</string>
			</dict>
			<dict>
				<key>name</key>
				<string>南州鄉</string>
				<key>zipcode</key>
				<string>926</string>
			</dict>
			<dict>
				<key>name</key>
				<string>林邊鄉</string>
				<key>zipcode</key>
				<string>927</string>
			</dict>
			<dict>
				<key>name</key>
				<string>東港鎮</string>
				<key>zipcode</key>
				<string>928</string>
			</dict>
			<dict>
				<key>name</key>
				<string>琉球鄉</string>
				<key>zipcode</key>
				<string>929</string>
			</dict>
			<dict>
				<key>name</key>
				<string>佳冬鄉</string>
				<key>zipcode</key>
				<string>931</string>
			</dict>
			<dict>
				<key>name</key>
				<string>新園鄉</string>
				<key>zipcode</key>
				<string>932</string>
			</dict>
			<dict>
				<key>name</key>
				<string>枋寮鄉</string>
				<key>zipcode</key>
				<string>940</string>
			</dict>
			<dict>
				<key>name</key>
				<string>枋山鄉</string>
				<key>zipcode</key>
				<string>941</string>
			</dict>
			<dict>
				<key>name</key>
				<string>春日鄉</string>
				<key>zipcode</key>
				<string>942</string>
			</dict>
			<dict>
				<key>name</key>
				<string>獅子鄉</string>
				<key>zipcode</key>
				<string>943</string>
			</dict>
			<dict>
				<key>name</key>
				<string>車城鄉</string>
				<key>zipcode</key>
				<string>944</string>
			</dict>
			<dict>
				<key>name</key>
				<string>牡丹鄉</string>
				<key>zipcode</key>
				<string>945</string>
			</dict>
			<dict>
				<key>name</key>
				<string>恆春鎮</string>
				<key>zipcode</key>
				<string>946</string>
			</dict>
			<dict>
				<key>name</key>
				<string>滿州鄉</string>
				<key>zipcode</key>
				<string>947</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>台東縣</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>台東市</string>
				<key>zipcode</key>
				<string>950</string>
			</dict>
			<dict>
				<key>name</key>
				<string>綠島鄉</string>
				<key>zipcode</key>
				<string>951</string>
			</dict>
			<dict>
				<key>name</key>
				<string>蘭嶼鄉</string>
				<key>zipcode</key>
				<string>952</string>
			</dict>
			<dict>
				<key>name</key>
				<string>延平鄉</string>
				<key>zipcode</key>
				<string>953</string>
			</dict>
			<dict>
				<key>name</key>
				<string>卑南鄉</string>
				<key>zipcode</key>
				<string>954</string>
			</dict>
			<dict>
				<key>name</key>
				<string>鹿野鄉</string>
				<key>zipcode</key>
				<string>955</string>
			</dict>
			<dict>
				<key>name</key>
				<string>關山鎮</string>
				<key>zipcode</key>
				<string>956</string>
			</dict>
			<dict>
				<key>name</key>
				<string>海端鄉</string>
				<key>zipcode</key>
				<string>957</string>
			</dict>
			<dict>
				<key>name</key>
				<string>池上鄉</string>
				<key>zipcode</key>
				<string>958</string>
			</dict>
			<dict>
				<key>name</key>
				<string>東河鄉</string>
				<key>zipcode</key>
				<string>959</string>
			</dict>
			<dict>
				<key>name</key>
				<string>長濱鄉</string>
				<key>zipcode</key>
				<string>961</string>
			</dict>
			<dict>
				<key>name</key>
				<string>太麻里鄉</string>
				<key>zipcode</key>
				<string>963</string>
			</dict>
			<dict>
				<key>name</key>
				<string>金峰鄉</string>
				<key>zipcode</key>
				<string>964</string>
			</dict>
			<dict>
				<key>name</key>
				<string>大武鄉</string>
				<key>zipcode</key>
				<string>965</string>
			</dict>
			<dict>
				<key>name</key>
				<string>達仁鄉</string>
				<key>zipcode</key>
				<string>966</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>花蓮縣</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>花蓮市</string>
				<key>zipcode</key>
				<string>970</string>
			</dict>
			<dict>
				<key>name</key>
				<string>玉里鎮</string>
				<key>zipcode</key>
				<string>981</string>
			</dict>
			<dict>
				<key>name</key>
				<string>新城鄉</string>
				<key>zipcode</key>
				<string>971</string>
			</dict>
			<dict>
				<key>name</key>
				<string>秀林鄉</string>
				<key>zipcode</key>
				<string>972</string>
			</dict>
			<dict>
				<key>name</key>
				<string>吉安鄉</string>
				<key>zipcode</key>
				<string>973</string>
			</dict>
			<dict>
				<key>name</key>
				<string>壽豐鄉</string>
				<key>zipcode</key>
				<string>974</string>
			</dict>
			<dict>
				<key>name</key>
				<string>鳳林鄉</string>
				<key>zipcode</key>
				<string>975</string>
			</dict>
			<dict>
				<key>name</key>
				<string>光復鄉</string>
				<key>zipcode</key>
				<string>976</string>
			</dict>
			<dict>
				<key>name</key>
				<string>豐濱鄉</string>
				<key>zipcode</key>
				<string>977</string>
			</dict>
			<dict>
				<key>name</key>
				<string>瑞穗鄉</string>
				<key>zipcode</key>
				<string>978</string>
			</dict>
			<dict>
				<key>name</key>
				<string>卓溪鄉</string>
				<key>zipcode</key>
				<string>982</string>
			</dict>
			<dict>
				<key>name</key>
				<string>富里鄉</string>
				<key>zipcode</key>
				<string>983</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>宜蘭縣</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>宜蘭市</string>
				<key>zipcode</key>
				<string>260</string>
			</dict>
			<dict>
				<key>name</key>
				<string>頭城鎮</string>
				<key>zipcode</key>
				<string>261</string>
			</dict>
			<dict>
				<key>name</key>
				<string>礁溪鄉</string>
				<key>zipcode</key>
				<string>262</string>
			</dict>
			<dict>
				<key>name</key>
				<string>壯圍鄉</string>
				<key>zipcode</key>
				<string>263</string>
			</dict>
			<dict>
				<key>name</key>
				<string>員山鄉</string>
				<key>zipcode</key>
				<string>264</string>
			</dict>
			<dict>
				<key>name</key>
				<string>羅東鎮</string>
				<key>zipcode</key>
				<string>265</string>
			</dict>
			<dict>
				<key>name</key>
				<string>三星鄉</string>
				<key>zipcode</key>
				<string>266</string>
			</dict>
			<dict>
				<key>name</key>
				<string>大同鄉</string>
				<key>zipcode</key>
				<string>267</string>
			</dict>
			<dict>
				<key>name</key>
				<string>五結鄉</string>
				<key>zipcode</key>
				<string>268</string>
			</dict>
			<dict>
				<key>name</key>
				<string>冬山鄉</string>
				<key>zipcode</key>
				<string>269</string>
			</dict>
			<dict>
				<key>name</key>
				<string>蘇澳鎮</string>
				<key>zipcode</key>
				<string>270</string>
			</dict>
			<dict>
				<key>name</key>
				<string>南澳鄉</string>
				<key>zipcode</key>
				<string>272</string>
			</dict>
			<dict>
				<key>name</key>
				<string>釣魚台</string>
				<key>zipcode</key>
				<string>290</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>澎湖縣</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>馬公市</string>
				<key>zipcode</key>
				<string>880</string>
			</dict>
			<dict>
				<key>name</key>
				<string>西嶼鄉</string>
				<key>zipcode</key>
				<string>881</string>
			</dict>
			<dict>
				<key>name</key>
				<string>望安鄉</string>
				<key>zipcode</key>
				<string>882</string>
			</dict>
			<dict>
				<key>name</key>
				<string>七美鄉</string>
				<key>zipcode</key>
				<string>883</string>
			</dict>
			<dict>
				<key>name</key>
				<string>白沙鄉</string>
				<key>zipcode</key>
				<string>884</string>
			</dict>
			<dict>
				<key>name</key>
				<string>湖西鄉</string>
				<key>zipcode</key>
				<string>885</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>金門縣</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>金沙鎮</string>
				<key>zipcode</key>
				<string>890</string>
			</dict>
			<dict>
				<key>name</key>
				<string>金湖鎮</string>
				<key>zipcode</key>
				<string>891</string>
			</dict>
			<dict>
				<key>name</key>
				<string>金寧鄉</string>
				<key>zipcode</key>
				<string>892</string>
			</dict>
			<dict>
				<key>name</key>
				<string>金城鎮</string>
				<key>zipcode</key>
				<string>893</string>
			</dict>
			<dict>
				<key>name</key>
				<string>烈嶼鄉</string>
				<key>zipcode</key>
				<string>894</string>
			</dict>
			<dict>
				<key>name</key>
				<string>鳥坵鄉</string>
				<key>zipcode</key>
				<string>896</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>連江縣</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>南竿鄉</string>
				<key>zipcode</key>
				<string>209</string>
			</dict>
			<dict>
				<key>name</key>
				<string>北竿鄉</string>
				<key>zipcode</key>
				<string>210</string>
			</dict>
			<dict>
				<key>name</key>
				<string>莒光鄉</string>
				<key>zipcode</key>
				<string>211</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
